.article-card {
  padding: 8px;
  min-height: 20px;
  vertical-align: baseline;

  &__link {
    display: block;
  }

  &__number,
  &__title {
    @include title;
  }

  &__number {
    margin-right: 5px;
  }

  &__title {
    display: inline;
  }
}